include ./_icon

-
    var bio = {
        firstName: 'Vlad',
        secondName: 'Pocheptsov',
        picSrc: 'assets/images/v-p.jpg',
        smPicSrc: 'assets/images/v-p--alt.jpg',
        commonInfo: ['Izhevsk, Russia', 'Russian, English, French'],
        skills: [
            {name:'JavaScript', rate: 'medium'},
            {name:'React.js', rate: 'light'},
            {name:'HTML', rate: 'Strong'},
            {name:'CSS', rate: 'Strong'}
        ]
    }

article.profile
    header.profile__principal
        div.profile__avatar-wrap
            picture.profile__avatar-picture-elem
                source(media="(max-width: 400px)" srcset=`${bio.picSrc}`)
                source(media="(max-width: 600px)" srcset=`${bio.smPicSrc}`)
                img.profile__avatar-pic(
                    alt=`${bio.firstName} ${bio.secondName}`
                    src=`${bio.picSrc}`
                    width='236' height='auto'
                )
        div.profile__bio.bio
            h1.profile__title.visuallyhidden #{bio.firstName} #{bio.secondName}
            div.bio__inner
                form.bio__form.js-text-form(method="get" action="")
                    input.bio__text-field.bio__name.js-text-form-field(type="text" value=`${bio.firstName} ${bio.secondName}` name="name")
                    div.bio__minor-btn-wrap
                        button.bio__minor-btn.js-text-form-submit-btn(type="submit" tabindex="-1")
                            +icon("checked")(width="8" height="8")
                        button.bio__minor-btn.js-text-form-close-btn(type="button" tabindex="-1")
                            +icon('close-cross')(width="8" height="8")
                ul.bio__list
                    each item in bio.commonInfo
                        li.bio__list-item
                            form.bio__form.js-text-form(method="get" action="")
                                input.bio__text-field.bio__info.js-text-form-field(type="text" value=`${item}`)
                                div.bio__minor-btn-wrap
                                    button.bio__minor-btn.bio__minor-btn--sm.js-text-form-submit-btn(type="submit" tabindex="-1")
                                        +icon("checked")(width="8" height="8")
                                    button.bio__minor-btn.bio__minor-btn--sm.js-text-form-close-btn(type="button" tabindex="-1")
                                        +icon('close-cross')(width="8" height="8")
                ul.bio__skills.visual-list.js-skills-list(data-id="bio-skills")
                    each item in bio.skills
                        li.visual-list__item.js-skill-item
                            span.visual-list__base(class=item.rate && `${item.rate}` tabindex="0") #{item.name}
                                button.visual-list__delete-btn.js-skill-item-delete-btn(type="button")
                                    //+icon('close-cross')(width="8" height="8")
            div.bio__add-skills
                form.bio__form.bio__skills-form.js-skills-form(method="get" action="" id="bio-skills")
                    input.bio__text-field.bio__add-skills-field.js-skills-field(type="text" placeholder="Add skills")
                    div.bio__minor-btn-wrap
                        div.bio__skills-select-wrap
                            select.bio__select.js-skills-select(name="skill-mastery" size="1" )
                                option.bio__option(value="average") Average
                                option.bio__option(value="good") Good
                                option.bio__option(value="strong") Strong
                        button.bio__minor-btn.bio__minor-btn--sm.js-text-form-submit-btn(type="submit" tabindex="-1")
                            +icon("checked")(width="8" height="8")
                button.bio__add-skills-btn.js-skills-form-init-btn(type="button" data-id="bio-skills") Add skills
        div.profile__print-btn-wrap
            button.simple-btn.js-print-btn(type="button") Print this page
    div.profile__body
        include ./../blocks/_info-table
